<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
    <head>
         <title>Index</title>
    </head>

    <body layout:fragment="body">

        <div class="container-sm">


            <!-- Titulo -->

            <figure class="text-center">
                <blockquote class="blockquote">
                    <p>Tabla Usuario.</p>
                </blockquote>
            </figure>

            <!-- Busqueda de usuarios roles -->
            <form th:action="@{/Presentacion/BusquedaAbierta}" method="post" th:object="${busquedaAbierta}">

                <div class="row mb-3">
                    <div class="col-1">
                        <button type="" class="btn btn-light mt-2 "><i class="bi bi-door-open"></i></button>
                    </div>
                    <div class="col-10"> 
                        <div class="row">
                            <div class="col-3">
                                <label for="exampleInputEmail1" class="form-label">Nombre</label>
                                <input class="form-control" type="text" id="Nombre" th:field="*{nombre}">
                            </div>
                            <div class="col-3">
                                <label for="exampleInputEmail1" class="form-label">Apellido Paterno</label>
                                <input class="form-control" type="text" id="ApellidoPaterno" th:field="*{apellidoPaterno}">
                            </div>
                            <div class="col-3">
                                <label for="exampleInputEmail1" class="form-label">Apellido Materno</label>
                                <input class="form-control" type="text" id="ApellidoMaterno" th:field="*{apellidoMaterno}">
                            </div>
                            <div class="col-3">
                                <label for="exampleInputEmail1" class="form-label">Rol</label>
                                <input class="form-control" type="text" id="rol" th:field="*{Roll.Nombre}">
                            </div>
                        </div>

                    </div>


                    <div class="col-1">
                        <button type="submit" class="btn btn-light mt-2 "><i class="bi bi-arrow-bar-up"></i></button>
                    </div>

                </div>
            </form>
            <!-- Tabla de usuarios-->

            <table class="table table-striped-columns ">
                <thead class="table-dark">
                <th>
                    Foto del Perfil
                </th>
                <th>
                    Nombre
                </th>
                <th>
                    Contacto
                </th>

                <th>
                    Dirección
                </th>
                <div sec:authorize="hasAnyAuthority('Programador','Admin')">
                <th>
                    Editar
                </th>

                <th>
                    Eliminar
                </th>
                </div>

                </thead>

                <tbody>
                    <tr th:each="usuarioDireccion : ${usuarioDireccion}">
                        <td ><img  style="width: 50px" th:src="${usuarioDireccion.Usuario.ImagenPerfil == null } ? 'https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/2048px-User_icon_2.svg.png' :  'data:image/png;base64,'+ ${usuarioDireccion.Usuario.ImagenPerfil}"></td>
                        <td th:text="|${usuarioDireccion.Usuario.nombre} ${usuarioDireccion.Usuario.apellidoPaterno}|"></td> <!-- Datos Nombre -->
                        <td th:text="|${usuarioDireccion.Usuario.celular} ${usuarioDireccion.Usuario.email} ${usuarioDireccion.Usuario.telefono}|">55 6785 2862,<br> alfagelion@gmail.com,<br> 91 9021 3945</td> <!-- Contacto-->
                        <td><ul><li th:each="direccion : ${usuarioDireccion.Direcciones}" th:text="(${direccion.Calle} == null) ? 'Sin Direccion' : |${direccion.calle} ${direccion.NumeroExterior} ${direccion.NumeroInterior}|"></li></ul></td> <!-- Direccion -->
                        <div sec:authorize="hasAnyAuthority('Programador','Admin')">
                        <td><a th:href="@{/Presentacion/UsuarioForm/{idUsuario}(idUsuario = ${usuarioDireccion.Usuario.idUsuario})}" ><button id="Agregar" class="btn btn-primary" th:value="${usuarioDireccion.Usuario.idUsuario}"> <i class="bi bi-pen-fill"></i></button></td> <!-- Añadir -->
                        <td>                    
                            <a th:href="@{/Presentacion/DeleteUsuario/{idUsuario}(idUsuario = ${usuarioDireccion.Usuario.idUsuario})}" ><button id="Eliminar" class="btn btn-primary" th:value="${usuarioDireccion.Usuario.idUsuario}"> <i class="bi bi-person-dash-fill"></i></button>
                        </td> <!-- Eliminar -->
                        </div>
                    </tr>


                </tbody>

            </table>
            <div sec:authorize="hasAuthority('Programador')">
                <a th:href="@{/Presentacion/UsuarioForm/0}" class="btn btn-primary">
                    <i class="bi bi-person-fill-add"></i>
                </a>
            </div>

            <label></label>
        </div>

        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

        <script>

        </script>

    </body>
</html>
